{% load static %}
{%load thumbnail%}
{% load custom_datetime %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{%static 'css/main.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>

        @font-face {
            font-family: IRANSans;
            src: url({% static 'font/Fonts/Iranian Sans License.txt' %});
        }

    </style>

    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div class="row">
        <div class="col s1"></div>

        <div class='col s7'>
            <div class="card-panel ">

                <div class="center">{{ album.summary }}</div>
                <hr>
                <div class='row'> 
                    <div class="col s4">
                {% thumbnail album.cover "200x200" crop="center" as im %}
                    <img  class= 'album-cover'  src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" alt='{{album.title}}{{album.summary}}'>
                    {% endthumbnail %}
                </div>
                <div class="col s8">
                    {{ album.release_date | date_spiliter }}
                <h2 class='gray-text text-darken-3 album-title'>
                {{album.title}}
                </h2>
                    <div class='gray-text text-darken-1'>created by {{album.artist}} </div>
                    <div class='gray-text text-darken-1'>created by {{album.released_date | date:'Y /n /j'}}
                     </div>

<fieldset class="rating">
   {{album.rate| rating |safe}}
</fieldset>
{{Album.rate}}
             </div>


            </div>
        </div>
    </div>
    <div class='col s3'>
        <div class="card-panel"> this is the firs test3</div>
    </div>
    <div class="col s1"></div>
</div>
</body>

</html>